@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wdth,wght@75..100,400..700&family=Playfair+Display:wght@400;500;600&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #c5cec1;
  font-family: 'Instrument Sans', sans-serif;
}

